@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html, body {
  @apply text-slate-800 bg-slate-50
    dark:text-slate-100 dark:bg-slate-800
    transition-colors duration-700
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif 
  }

/* .quote1-p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("/bg-1.jpg");
  background-attachment: fixed;
} */

}

@layer components {
  /* Background animation */
  .firefly {
      width: var(--size);
      height: var(--size);
      pointer-events: none;
      animation: ease 50s alternate infinite;
  }

  .firefly::before,
  .firefly::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
  }

  .firefly::before {
      background: var(--before-bg);
      opacity: 0.4;
      animation: drift var(--drift-duration) ease infinite alternate;
  }

  .firefly::after {
      background: var(--after-bg);
      opacity: 0;
      box-shadow: 0 0 0vw 0vw var(--after-shadow);
      animation: drift var(--drift-duration) ease infinite alternate, flash var(--flash-duration) ease var(--flash-delay) infinite;
  }

  @keyframes drift {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes flash {
      0%, 30%, 100% {
          opacity: 0;
          box-shadow: 0 0 0vw 0vw var(--after-shadow);
      }

      5% {
          opacity: 1;
          box-shadow: 0 0 2vw 0.4vw var(--after-shadow);
      }
  }

}


@layer utilities {
  .btn-bg-brick {
    background-image: linear-gradient(to right, #CB997E, #CB997E);
    background-size: 0 100%;
    background-repeat: no-repeat;
  }

  .btn-bg-brick-hover {
    background-image: linear-gradient(to right, #CB997E, #CB997E);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .truncated-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
  }

};

